/* custom.css — override code block font size */
code, pre, .highlight pre {
  font-size: 0.75em !important;
  line-height: 1.4;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; 
  height: auto;
}